<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="mytitle">अभिप्राय</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdXv_VaBDm58iRBVslKhkOS12WJ2NY5vOlOEarYceqnrGVG-w/viewform?embedded=true" width="100%" height="100%" frameborder="1" marginheight="0" marginwidth="0">Loading…</iframe>
</ion-content>
