<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="mytitle">वार्षिक उत्सव</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 100%; color: maroon; font-weight: 500;">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" text-center>
          <div text-center>
            <h1 text-center style="color: #e64a19;"> ।।हरि ॐ तत्सत्।। </h1>
          </div>
        </ion-col>

      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" text-center>
          <div text-center>
            <h2 text-center style="color:firebrick"> वार्षिक उत्सव (२०२१)
            </h2>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size="2">
          <div>
            <ion-icon name="md-flower"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <div>
            ९ फेब्रुवारी - प. पू . अनंतानंद साईश प्रगटोत्सव
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size="2">
          <div>
            <ion-icon name="md-flower"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <div>
            १६ फेब्रुवारी -वसंत पंचमी (तिथी नुसार ) प. पू.भक्तराज महाराज प्रगटदीन
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size="2">
          <div>
            <ion-icon name="md-flower"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <div>
            ११ मार्च - महाशिवरात्री
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-start" size="2">
          <div>
            <ion-icon name="md-flower"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="ion-align-self-start">
          <div>
            २१ एप्रिल - रामनवमी
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-start" size="2">
          <div>
            <ion-icon name="md-flower"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="ion-align-self-start">
          <div>
            १६ मे - प. पूज्य बाबांच्या मुर्तीची प्राणप्रतिष्ठा
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-start" size="2">
          <div>
            <ion-icon name="md-flower"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="ion-align-self-start">
          <div>
            २३ जुलै - गुरुपौर्णिमा
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-start" size="2">
          <div>
            <ion-icon name="md-flower"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="ion-align-self-start">
          <div>
            १९ सप्टेंबर - अनंत चतुर्दशी
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-start" size="2">
          <div>
            <ion-icon name="md-flower"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="ion-align-self-start">
          <div>
            २८ नोव्हेंबर - कार्तिक कृष्ण नवमी, प. पू . भक्तराज महाराज महानिर्वाण उत्सव 
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-start" size="2">
          <div>
            <ion-icon name="md-flower"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="ion-align-self-start">
          <div>
            २५ डिसेंबर - प पूज्य अनंतानंद साईश पुण्यतिथी
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>