<ion-header>
  <ion-toolbar color="warning">
    <ion-title>प्रकाशन</ion-title>
    <ion-buttons fill="outline" slot="end">
      <ion-button (click)="dismiss()">

        मागे जा
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="overlay" (click)="dismiss()"></div>
  <div class="modal_content">
    <!-- <div class="circle"><img src="assets/img/harmo.png" class="imgstyle"></div> -->
    <div class="modal-content" style="padding: 38px;">
      <div *ngIf="this.photoid == 1">
        <h2 text-center>{{name}}</h2>
        <p>
          प.पू.श्री भक्तराज महाराजांच्या कार्याचा थोडक्यात परिचय करून देणे अशक्य आहे. कारण सद्गुरूचा चरित्रमहिमा अपरंपार
          आहे, ज्या कोटीसूर्याच्या जीवनशलाकांनी भक्तांची हृदये स्पंदन पावतात, त्या कल्याण कल्पतरू, आनंदधन प.पू.श्री
          भक्तराज माऊलीचा कृपाहस्त शिरावर असावा आणि चार ओळी त्यांच्याच साक्षीने लिहून त्यांची पूजा प्रेम, श्रध्दा,
          भक्तीपूर्वक करावी, देवपूजेची ओंजळ मी सद्गुरूचे पायी वाहत आहे. म्हणून ही अल्पबुध्दीने, आनंदाने सद्गुरूचे वर्णन
          करण्याचा अवसर मला लाभला म्हणून मी धन्य झाले. प.पू. बाबांच्या चरणी मस्तक ठेवून त्यांनी सर्वांना सद्भक्तीचा वर
          द्यावा, सर्व भक्त परिवारावर आपला कृपाहस्त सदैव ठेवावा, हे मागणे मागते व अत्यंत विनम्रभावाने त्यांचेच त्यांना
          अर्पण करते. प्रसन्न होऊन पू. बाबा 'तथास्तु' म्हणतील असे दान मागत त्यांचे चरणी नतमस्तक होते.
        </p>
        <p>।। हरि ॐ तत्सत् ।। </p>
        <p>- राजलक्ष्मी रामकृष्ण कसरेकर </p>
      </div>



      <div *ngIf="this.photoid == 2">
        <h2 text-center>{{name}}</h2>
        <p>
          सगुणात राहूनही निर्गुणाची सतत अनुभूति देणारे, सर्वज्ञानी, पूर्णत्वाला पोहचलेले संत म्हणजे प.पू. श्री भक्तराज
          महाराज, पू. बाबा शिष्यांकडून साधना म्हणजे नामस्मरण करून घेत असत, कारण नामस्मरण हिच सर्वोपयोगी व सर्वोत्तम
          साधना असल्याचे वेळोवेळी भजनांतून सांगितले आहे भक्तांना चिरंतन आनंद देणारी नामसाधना! पू. बाबांच्या भक्तांनीही
          आपल्या सद्गुरूंची महती आपल्या अनेकविध भजनांतून गायली आहे. प.पू.श्री बाबांची ही 'अष्टोत्तरी शतनामावली (१०८ नाम)
          म्हणजे एकशेआठ पाकळ्यांचे उमललेले कमळ होय. ज्यामध्ये प्रत्येक पाकळीवर पू. बाबांची नामरुपाने विविध रुपे साकारली
          आहेत. त्यामध्ये सुगंध आहे तो भक्तीचा. प्रेमभावनेच्या परिमळाने या अष्टोत्तर शतनामावली स्वरुपाचे कमळ उमलले असून
          भक्तांना चिरंतन आनंद देणारे नाम, साधना परिपूर्ण करणारे आहे. ही एकशेआठ नावे सर्व भक्तांची मनोकामना पूर्ण करणारी
          साधना ठरावी, अशी मी पू. बाबांच्या चरणी प्रार्थना करते. आशीर्वाद मागते की भक्तांनी अष्टोत्तर शतनामावलीतील
          नामजपाने पादुकापूजन करावे. नित्यनियमाने जमेल तेव्हा, शक्य तेव्हा साधना म्हणून उच्च व दिव्य आनंदाची प्राप्ती
          होण्यासाठी पू. बाबांच्या नामसाधनेची अनुभूति घेण्यासाठी ह्या अष्टोत्तर शतनामाचे पठण करावे.
        </p>
        <p> गुरुने दिलेले नाम गोड, त्याहून गोड श्रीसद्गुरूचे नाम। ह्या भावनेने या नामावलीचे स्फूरण झाले. पूर्ण
          श्रद्धेने, प्रेमभावाने नतमस्तक होऊन मी श्रीगुरू चरणावर
        </p>
        <p> ही अष्टोत्तर शतनामावली' अर्पण करते.
        </p>
        <p>।। हरि ॐ तत्सत् ।। </p>

        <p>राजलक्ष्मी कसरेकर </p>
      </div>



      <div *ngIf="this.photoid == 3">
        <h2 text-center>{{name}}</h2>
        <p>
          नमस्कार</p>
        <p>
          सदर अष्टोत्तर नामावली प.पू. भक्तराज महाराज (बाबा) यांच्या आशिर्वादाने श्री क्षेत्र त्र्यंबकेश्वर येथील
          भागवतकार श्री. चंद्रशेखर विष्णू शुक्ल (बाबांचे जुने पेटीवादक) यांनी केली आहे. साई दरबार, श्री क्षेत्र
          त्र्यंबकेश्वर, जि. नाशिक
        </p>
        <p>।। हरि ॐ तत्सत् ।। </p>
      </div>



      <div *ngIf="this.photoid == 4">
        <h2 text-center>{{name}}</h2>
        <p>
          ।। प्रस्तावना ।।</p>

        <p>धन संपदा प्राप्त करने की अपेक्षा उसे उचित खर्च करना जैसे कठिन है ; उसी प्रकार विपुल ज्ञान प्राप्त कर ज्ञानी
          बनने या कहलाए जाने की अपेक्षा प्राप्त ज्ञान बहुजन समाज को कैसे अवगत करना भी कठिनसा है। और यही कठिन कार्य मेरे
          विचार से प.पू. भक्तराज स्वामी से सम्पन्न हुआ है। स्वामी जी की प्रस्तुत 'अमृत वाणी' ग्रंथ एक अद्यतन काल के लिए
          परमास्थक 'आध्यात्मिक सत्यों का संचित कोष' है।</p>
        <p>दया से दया का, विश्वास से विश्वास का जैसे जन्म होता है, उसी प्रकार अध्यात्म से अध्यात्म का तथा सुख, शांति,
          संतुष्ट से सुख, शांति, संतुष्टता का जन्म होता है और यही प्रदेय तथा प्रत्रेय प्रस्तुत अमृत वाणी' का है।</p>
        <p>जो विवेकी होता है। उसके ही विवेक को जागृत किया जाता है जिसके पास सोच, समझ, चिंतन के लिए फुर्सत है ; उसके लिए
          ही भक्तराज स्वामी ने भक्तों की भूख देखकर बहुत ही दुर्लभ कुछेक वचन विचार वाणी को यहाँ जिज्ञासू भक्तों को
          पथप्रदर्शन का काम किया है। आशा ही नहीं बल्कि उम्मीद करता हूँ कि भक्तगण तसल्ली से इसे अपनाएंगे बृत्रदीप पुराण
          में एक स्थान पर लिखा है कि - जो ऐश्वर्य के मद में मस्त है; भूख से पीडित है : जो कामी है अथवा जो अहंकारी है, उन
          मनुष्यों में विवेक नहीं होता है। (बृत्ररदीपपुराण पुर्व भाग , ८/ १०३) मुझे उम्मीद है कि प्रस्तुत ग्रंथ के पठन
          से उपर्युक्त लोगों में भी विवेक जागृत होकर वे अध्यात्मिक संसार के प्रति आकर्षित होंगे। प.पू. भक्तराज स्वामी ने
          बहुत ही सरल, सहज,आसान शब्दों में अपनी वाणी प्रवाहित की है।</p>
        <p>विघ्नेश श्री गजानन के शुभसिध्दि प्रदाना चरणाम्बुजों में कोटि कोटि प्रणाम करता हुआ मुद्रक तथा प्रकाशक महोदय के
          पुण्य स्मरण के साथ यह अकिंचन समाप्त करता है।
        </p>
        <p>।। हरि ॐ तत्सत् ।। </p>
      </div>



      <div *ngIf="this.photoid == 5">
        <h2 text-center>{{name}}</h2>
        <p>
          ।। प्रस्तावना ।।

        <p> प.पू.सद्गुरू बाबांनी आपल्या संत भक्तराज विरचीत भजनामृत या ग्रंथाच्या आरंभी आपले हृदगत् मांडले आहे. त्यात
          सद्गुरू बाबांनी सांगीतले आहे की "यदा कदाचीत भक्तमंडळींनी ही भजने नित्य पाठांतरात घेतली तर वेळोवेळी काळानुसार
          अनन्य अर्थपूर्ण समाधानकारक ठरून भक्तांचा पुष्कळसा भ्रम दुर होईल. संसारात राहून सुलभ जाईल." भक्तीद्वारे
          श्रीचरणांचा लाभ करून घेण्यास

          या त्यांच्याच वचनांचा आधार घेऊन हा नित्यउपासना व भजनांच्या पंचपदीचा उपक्रम हाती घेतला आहे. आजच्या धकाधकीच्या,
          धावपळीच्या व गतीमान दिनक्रमात व यंत्रयुगात यंत्राप्रमाणे अचेतन झालेल्या मनाला भक्तीचा एक क्षणही सचेतन करून
          जाईल यात शंका नाही. अनुतापाने तापलेल्या जीवाला जेव्हा ईश्वराची ।। </p>

        <p> आठवण होते तेव्हा अत्यंत करूणेने तो ईश्वरास साद घालतो. त्याच्या करूणारूपाची आळवणी करतो. अशाच करूणरसाने
          ओतप्रोत भरलेली निवडक भजने नित्य पंचपदीत घेतली आहेत.</p>

        <p>त्याचप्रमाणे नित्यउपासनेत मानसपूजेचे महत्व लक्षात घेऊन 'हरि ॐ तत्सत्' माऊलीची मानसपूजा व अन्य चार भजनांचा
          समावेश केला आहे.</p>

        <p> प.पू.सद्गुरू बाबांनी सांगितल्याप्रमाणे प्रपंचात राहुन परमार्थ साधायचा असेल तर ही भजनांची पंचपदी व
          नित्यापासनेच्या पाठाचे पुष्प दररोज श्रीसाईचरणी अर्पण केल्यास हे साध्य होईल यात शंका नाही.</p>

        <p> प.पू.सद्गुरूंची सगळीच भजने ही नामाच्या अथांग सागरातील अनमोल मोती आहेत. त्यातलेच हे नामामृतांचे पाच मोती
          नित्य श्रीसाईंच्या सेवेत गुंफुन त्यांची सुंदर माला अर्पण करूया.
        </p>
        <p>।। हरि ॐ तत्सत् ।। </p>
      </div>


      <div *ngIf="this.photoid == 6">
        <h2 text-center>{{name}}</h2>
        <p>
          प.पू.श्री भक्तराज महाराजांच्या कार्याचा थोडक्यात परिचय करून देणे अशक्य आहे. कारण सद्गुरूचा चरित्रमहिमा अपरंपार
          आहे, ज्या कोटीसूर्याच्या जीवनशलाकांनी भक्तांची हृदये स्पंदन पावतात, त्या कल्याण कल्पतरू, आनंदधन प.पू.श्री
          भक्तराज माऊलीचा कृपाहस्त शिरावर असावा आणि चार ओळी त्यांच्याच साक्षीने लिहून त्यांची पूजा प्रेम, श्रध्दा,
          भक्तीपूर्वक करावी, देवपूजेची ओंजळ मी सद्गुरूचे पायी वाहत आहे. म्हणून ही अल्पबुध्दीने, आनंदाने सद्गुरूचे वर्णन
          करण्याचा अवसर मला लाभला म्हणून मी धन्य झाले. प.पू. बाबांच्या चरणी मस्तक ठेवून त्यांनी सर्वांना सद्भक्तीचा वर
          द्यावा, सर्व भक्त परिवारावर आपला कृपाहस्त सदैव ठेवावा, हे मागणे मागते व अत्यंत विनम्रभावाने त्यांचेच त्यांना
          अर्पण करते. प्रसन्न होऊन पू. बाबा 'तथास्तु' म्हणतील असे दान मागत त्यांचे चरणी नतमस्तक होते.
        </p>
        <p>।। हरि ॐ तत्सत् ।। </p>
        <p>- राजलक्ष्मी रामकृष्ण कसरेकर </p>
      </div>
    </div>
  </div>

</ion-content>