<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="mytitle">संस्थान माहिती </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div style="height: 100%; color: maroon; font-weight: 500;">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center myborder ion-text-center" (click)="setScreen(1)"
          [ngClass]="{'btn btn-1': this.showinfo}">
          <div class="ion-text-center">
            <h4 class="ion-text-center" style="color: maroon;"> आश्रम माहिती</h4>
          </div>
        </ion-col>
        <ion-col class="ion-align-self-center myborder" (click)="setScreen(2)"
          [ngClass]="{'btn btn-1': this.showinfo2}">
          <div class="ion-text-center">
            <h4 class="ion-text-center" style="color:maroon;">
              आश्रम पत्ता</h4>
          </div>
        </ion-col>

      </ion-row>

    </ion-grid>
    <div *ngIf="showinfo">
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center">
          <div text-center>
            <img src="../../assets/img/events.jfif" width="50%" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div style="padding: 5px; text-align: justify; text-justify: inter-word;">
            <p text-center>॥ हरि ॐ तत्सत्॥</p>

            <h4 text-center>श्रीक्षेत्र कांदळी महात्म्य</h4>
           <p> 'धन्य ती पंढरी । धन्य भिमातीर ' अशा पंढरपुरीत वीटेवर उभ्या असलेल्या भगवंतामुळे वैकुंठच भूतलावर आले.</p>

          <p>  तद्वतच संतश्रेष्ठ प. पू. श्री. भक्तराजांच्या मंगलमय वास्तव्याने पुष्पातीरी (कुकडी) 'कांदळी' नामक लहानसे खेडे
            पुनीत झाले असून त्याला आता 'श्रीक्षेत्र कांदळी असे म्हटले जाते. त्यांच्या अलौकिक शक्तीचे, भक्तीचे, प्रभावी
            पावन भूवैकुंठ झाले आहे. भजनगंगारूपी समृध्दी, प्रेमयमुनारूपी सौजन्य व सरस्वतीरूप सात्विकतेचा त्रिवेणीसंगम
            असलेल्या या पावन तीर्थाची महती दिवसेंदिवस वाढत आहे. संत सानिध्याने सत्संगाचे' विद्यापीठ बनले आहे. सर्व
            भक्तांचे कल्याणकल्पतरू, भक्तशिरोमणी प.पू. भक्तराज बाबांचे चैतन्य समाधी स्थळ' व रामरायाची' सगुण मूती अंतरात
            ओढ, श्रध्दा यांचे तार हृदय वीणेतून झंकारीत साद घालते. ता. जुन्नर जिल्हा पुणे येथील प. पू. बाबांचे इनामदारीचे
            गांव म्हणजे ७०० वर्षा पूर्वीचे राम मंदिर, २२ एकर व ६ एकर शेती कै. श्रीमती आनंदीबाई कसरेकर या माऊलीकडून इंदौर
            निवासी श्री विनायकराव कसरेकर यांचेकडे सोपविण्यात आली. इतिहासाचा मागोवा घेतला असता, मल्हारराव होळकर हे पेशवे
            यांचे भेटीस निघाले असता त्यांनी अहिल्याबाई नावाची चुणचुणीत मुलगी सून म्हणून करून घेतली. मुक्कामी नारायण
            गडच्या किल्लेदार ब्राह्मण यांचे जावई कांदळी येथील कसरेकर यांची कन्या घोडदळ प्रमुख पागनीस यांनी आपल्या
            मुलासाठी करून घेतली. तीने आपला एक भाऊ इंदौर येथे नेला. त्यांचे वंशज कै. श्री. विनायक सखाराम कसरेकर. संपूर्ण
            इतिहास कळल्यावर श्रीराम मंदिराकडे लक्ष द्यावे म्हणून श्री. विनायकराव कांदळी येथे आले. राममंदिर, ३५ एकर जमीन
            यांची सनद कसरेकर कुटुंबीयांना तलाठीकडून देण्यात आली. श्री. बंडूनाना उर्फ विनायक कसरेकर यांना हृदयविकाराचा
            झटका आल्यानंतर त्यांनी प.पू. बाबांना कांदळीकडे लक्ष द्यावयास सांगितले. कुकडी नदीवर वरच्या बाजूने धरण बांधले
            गेल्याने कांदळी परिसरातील जमिनी बहरल्या व बाबांच्या वास्तव्याने कांदळी हे पावन तिर्थक्षेत्र झाले.
            राममंदिराचा गाभारा व पुढे कटघरासारखा सभामंडप असलेल्या या जागेचे भक्तकल्याणार्थ राजयोगी बाबांनी नंदनवन केले.
            राममंदिराचा जिर्णोध्दार प.पू.बाबांनी १९७५ मध्ये स्वतः केला. येडगांव धरणातून १९९४ ला प.पू. बाबांच्या २२ एकर
            शेतावर श्रीराम पाणी पुरवठा योजने अंतर्गत/द्वारे पाणी आले. वडगांव शिवारातील सहा एकर शेतीवर बाबांनी 'श्री
            अनंतानंद वानप्रस्थाश्रम' साकारला 'श्री रामचंद्र देव ट्रस्टचे निर्माण करून सर्व कसरेकर कुटुंबीयांनी
            ट्रस्टद्वारे ही जबाबदारी स्वीकारली. प. पू. बाबांनी 'रामनवमी' उत्सव मोठया प्रमाणावर सुरू केला. गुढीपाडवा ते
            रामनवमी रोज पहाटे काकडारती, रामरायाची पूजा, अभिषेक, नवेद्य, भजन, किर्तन इ. कार्यक्रम बाबांच्या उपस्थितीत होत
            असत. रामनवमीचे दिवशी रामजन्माचे किर्तन दु. १२.०० वा. व रोज रात्री ९ दिवस किर्तने होतात तद्नंतर सुंठवडा,
            पंचक्रोशीतले गावजेवण असे त्याचे स्वरूप असून आजही वरण-भात, बुंदी, उसळ असे अन्नदान होत आहे. सर्व भक्तमंडळी व
            पंचक्रोशीतील लोक महाप्रसादाचा आनंद घेतात. आजही कसरेकर कुटुंबीय व भक्तमंडळी हा उत्सव. </p>
            
            <p>उत्साहात, आनंदात साजरा करतात.
            प. पू. भक्तराज महाराजांचे महानिर्वाण १७ नोव्हें १९९५ रोजी झाले. (कार्तिक कृष्ण नवमी पहाटे २.४५ मि. )
            बाबांच्या इच्छेनुसार श्रीरामाच्या मंदिरासमोर बाबांची चैतन्यसमाधी मंदिर बांधले गेले. प. पू. बाबांचा
            महानिर्वाण दिवस कार्तिक कृष्ण नवमी हा श्रीक्षेत्र कांदळी येथे मोठ्या प्रमाणात साजरा केला जातो. मुबंई, पुणे,
            नाशिक, इंदौर, गोवा, सांगली इ. गावातील भक्त आवर्जून येतात. उत्सवाच्या आदल्या दिवशी भजनाचा कार्यक्रम असतो. प.
            पू. रामानंद महाराजांच्या उपस्थितीत भंडाऱ्याचा मोठा कार्यक्रम होतो. 'भजन, भोजन, भ्रमण' ही प. पू. बाबांची
            त्रिसूत्री आजही अमलात आणून “ हरि ॐ तत्सत" च्या गजरात सर्व कांदळी दुमदुमुन जाते प. पू. महाराजाची पालखी ६ एकर
            वरून फुलमाळानी सुशोभित करून, पालखीत प.पू. महाराजांचा फोटो व पादुकांची शोभायात्रा काढली जाते. प. पू.
            बाबांच्या पादुकांवर रुद्राभिषेक होतो व त्यानंतर महानैवेद्य होऊन आरती होते, महाप्रसादास सुरुवात होते. सर्व
            भक्त शांति व समाधानाचा जोगवा गुरूकडे मागतात. व तृप्त होऊन जातात.</p>

            <p>श्री गुरुपौर्णिमा, प.पू. बाबांचा निर्वाण महोत्सव आणि रामनवमी हे उत्सव श्री रामचंद्र देव ट्रस्ट व महाराजांचे
            भक्तगण साजरे करतात. सातत्याने राम मूर्तीचे दर्शन, समाधी दर्शन घेण्यासाठी आतुरलेले भक्तगण कांदळीच्या
            पुण्यभूमीस येतात.</p>

           <p> सर्व भक्तांच्या इच्छेनुसार २००७ साली समाधी मंदिराचा जिर्णोद्धार करण्याचा निर्णय घेण्यात आला. प. पू. रामानंद
            महाराजांच्या अमुल्य मार्गदर्शनाखाली श्रीरामचंद्र देव ट्रस्टच्या सदस्यांनी भक्तांच्या सहकार्याने
            जिर्णोद्धाराचे काम पूर्णत्वास नेले असून प.पू. बाबांच्या मूर्तीची स्थापना १६ मे२०१३ ला करण्यात आली.</p>

            <p>कांदळीचे व्यवस्थापन प.पू. भक्तराज महाराजांच्या कृपेने त्यांचे कुटुंबीय पू. गुरुमाता जीजी, जेष्ठ सुपुत्र श्री
            नंदू व सौ. स्मिता, श्री सुनिल व सौ. नैना, आणि ट्रस्टचे इतर विश्वस्त कसरेकर कुटुंबीय सदस्य पहात आहेत.</p>

           <p> 'या माझ्या रामाच्या दरबारी' येऊन 'शांति व समाधान' प्राप्त करतात. कांदळी आश्रमातील पू. बाबांची कुटी,
            चैतन्यसमाधी, सगुणरूप सुरेख सुंदर असा राम दरबार, छान निळसर ज्वालांनी पेटलेली अखंड धुनी, बाबांच्या
            चरणस्पर्शाने पावन झालेले ६ एकर, हिरवेगार २२ एकर शेती जेथे पू. बाबांनी 'भक्तीचा मळा' केला. त्या कांदळीचे
            'महात्म्य' सांगावे तेवढे कमीच आहे. एरवी नकाशावर पुणे जिल्हयातील आळेफाट्या जवळील जुन्नर तालुक्यातील एक लहान
            'खेडे' असणारी ‘श्रीक्षेत्र कांदळी' प्रतिशिर्डी लवकरच होईल. हे निश्चित! कारण " शिरडी ग्रामीण जे पाहिले! तेच साई कांदळीस
            आले! '</p>
          </div>

        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="showinfo2">
      <ion-grid>
        <!-- <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-self-center" text-center>
            <div text-center>
              <h1 text-center style="color: #e64a19;"> ।।हरि ॐ तत्सत्।। </h1>
            </div>
          </ion-col>

        </ion-row> -->
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-self-center" text-center>
            <div text-center>
              <h2 text-center class="my-header"> आओ जी आओ...<br>साई के दरबार ...</h2>
              <!-- <h3 text-center style="color:firebrick"> - प. पु.भक्तराज महाराज -->
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-self-center" text-center>
            <div yes style="color:maroon;">
              श्रीरामचंद्र देव ट्रस्ट एवं<br> प.पू. भक्तराज महाराज समाधी ट्रस्ट ,<br> मु.पो. श्रीक्षेत्र कांदळी,<br> ता.
              जुन्नर,जि.
              पुणे <br>पिन कोड : ४१२४१२
              <br> <br>
              संपर्क: हेमंत कसरेकर - +९१ ९८२२३०२३५२
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <b>कोणत्याही सूचनेसाठी संपर्क साधा - maharajbhaktaraj@gmail.com</b>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-self-start" size="12">
            <div>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.013167759338!2d74.06245891490232!3d19.150900887044912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdd2363282417cd%3A0x23dc1717257dde9c!2sbhaktaraj%20maharaj%20samadhi%20mandir%2C%20Kandali!5e0!3m2!1sen!2sin!4v1619373162680!5m2!1sen!2sin"
                width="99%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </ion-col>

        </ion-row>

      </ion-grid>
    </div>

  </div>


</ion-content>