<ion-header style="background-color: #ffb74d;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="mytitle">
      <ion-grid class="center">
        <ion-row>
          <ion-col style="display: flex; align-items: center;">
            <span> भक्तराज बोधामृत</span>
          </ion-col>
          <ion-col size="3">
            <img src="../../assets/img/logoyellow.png" alt="ihaveadream" style="height: 58px;" />
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card class="welcome-card"> -->
  <!-- <ion-slides [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
      <ion-slide *ngFor="let img of data?.images">
        <img [src]="img">
      </ion-slide>
    </ion-slides> -->
  <!-- 
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content> -->
  <!-- </ion-card> -->
  <div style="display: block;padding: 20px;position: relative;z-index: 999;">
    <ion-grid class="center">
      <ion-row>
        <ion-col style="background-color: white;border-style: solid;padding: 4px;border-radius: 9px;">
          <ion-slides #mySlider *ngIf="slideData && slideData.length" (ionSlidesDidLoad)="slidesDidLoad()" loop="true"
            speed="500" class="slides" pager="true" [options]="slideOpts">
            <ion-slide *ngFor="let slide of slideData">
              <img [src]="slide" />
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="bg topDiv">
    <div style="padding-top:63px;">
      <ion-grid class="center" style="padding-top: 14%;">
        <ion-row text-center justify-content-center>
          <ion-col text-center routerLink="/musiclist/0" routerDirection="forward">
            <img src="assets/img/jangir.png" class="imgstyle">
            <h5 class="headerstyle">बाबांची भजने </h5>
          </ion-col>
          <ion-col text-center routerLink="/musiclist/1" routerDirection="forward">
            <img src="assets/img/harmo.png" class="imgstyle">
            <h5 class="headerstyle">भक्तांची भजने</h5>
          </ion-col>
          <ion-col text-center routerLink="/events" routerDirection="forward">
            <img src="assets/img/calendar.png" class="imgstyle">
            <h5 class="headerstyle">वार्षिक उत्सव </h5>
          </ion-col>
        </ion-row>
        <ion-row text-center justify-content-center class="mt-2">
          <ion-col text-center routerLink="/donation" routerDirection="forward">
            <img src="assets/img/publication.png" class="imgstyle">
            <h5 class="headerstyle">प्रकाशन</h5>
          </ion-col>
          <ion-col text-center routerLink="/photo" routerDirection="forward">
            <img src="assets/img/photos.png" class="imgstyle">
            <h5 class="headerstyle">बाबांचे फोटो</h5>
          </ion-col>
          <ion-col text-center routerLink="/trustinfo" routerDirection="forward">
            <img src="assets/img/trust.png" class="imgstyle">
            <h5 class="headerstyle">संस्थान माहिती </h5>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  
  </div>
  <div style="position: fixed; bottom: 1px; width: 100%;background-color: rgb(250, 162, 54);height: 8%;">
    <div style="text-align: center">
      <ion-grid>
        <!-- <ion-row style="text-align: center;" text-center justify-content-center>
          
        </ion-row> -->
        <ion-row>
          <ion-col size="8">
            <ion-label style="font-size: 21px;font-weight: 800;">आम्हाला कनेक्ट करा
            </ion-label>
          </ion-col>
          <ion-col>
           <a href="https://youtube.com/channel/UC0AHWZoRUwYD32rMIOB6Fgg" target="_blank"><img src="assets/img/youtube.png" class="imgstylesocial"></a>
          </ion-col>

          <ion-col>
           <a href="https://www.facebook.com/%E0%A4%B6%E0%A5%8D%E0%A4%B0%E0%A5%80-%E0%A4%B0%E0%A4%BE%E0%A4%AE%E0%A4%9A%E0%A4%82%E0%A4%A6%E0%A5%8D%E0%A4%B0-%E0%A4%A6%E0%A5%87%E0%A4%B5-%E0%A4%9F%E0%A5%8D%E0%A4%B0%E0%A4%B8%E0%A5%8D%E0%A4%9F-%E0%A4%8F%E0%A4%B5%E0%A4%82-%E0%A4%AA%E0%A4%AA%E0%A5%82%E0%A4%AD%E0%A4%95%E0%A5%8D%E0%A4%A4%E0%A4%B0%E0%A4%BE%E0%A4%9C-%E0%A4%AE%E0%A4%B9%E0%A4%BE%E0%A4%B0%E0%A4%BE%E0%A4%9C-%E0%A4%B8%E0%A4%AE%E0%A4%BE%E0%A4%A7%E0%A5%80-%E0%A4%B6%E0%A5%8D%E0%A4%B0%E0%A5%80-%E0%A4%95%E0%A5%8D%E0%A4%B7%E0%A5%87%E0%A4%A4%E0%A5%8D%E0%A4%B0-%E0%A4%95%E0%A4%BE%E0%A4%82%E0%A4%A6%E0%A4%B3%E0%A5%80-102155401610668/" target="_blank"> <img src="assets/img/fb.png" class="imgstylesocial"></a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>